@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap');

.WeatherCard-container {
    font-family: 'Quicksand', sans-serif;
    border-radius: 1em;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.WeatherCard-light-mode {
    background-color: #ffffff;
}

.WeatherCard-dark-mode {
    background-color: #222222;
}

.WeatherCard-light-shadow {
    box-shadow: 0 0 12px 1px #ededed;
}

.WeatherCard-dark-shadow {
    box-shadow: 0 0 12px 1px #424242;
}

.WeatherCard-topContainer {
    position: relative;
    padding: 0.5em 0.5em 0 0.5em;
}

.WeatherCard-middleContainer {
    position: relative;
    padding: 0.5em;
}