body {
    background-image: url('../assets/images/background.png');
    background-repeat: repeat;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
                "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
                "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding-bottom: 75px;
}

#logo {
    position: relative;
    display: block;
    width: 250px;
    margin: auto;
}

#description {
    color: #ffffff;
    text-align: center;
    font-weight: lighter;
}

.button {
    position: relative;
    border: 2px solid #d4d4d4;
    border-radius: 25px;
    background: none;
    outline: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
                "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
                "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    color: #d4d4d4;
    padding: 10px 25px;
    cursor: pointer;
}

a {
    text-decoration: none;
}

#buttons_container {
    position: relative;
    display: block;
    margin: auto;
    width: 425px;
}

#storybook {
    float: left;
}

#github {
    float: right;
}