.DateTime-container {
    position: relative;
    font-weight: 400;
    font-size: 0.70em;
    line-height: 1.5;
}

.DateTime-horizontal-align {
    float: left;
    width: 80%;
}

.DateTime-light-mode {
    color: #444444;
}

.DateTime-dark-mode {
    color: #eeeeee;
}