.Temperature-container {
    position: relative;
}

.Temperature-horizontal-align {
    float: right;
    padding: 0 2%;
}

.Temperature-light-mode {
    color: #444444;
}

.Temperature-dark-mode {
    color: #eeeeee;
}

.Temperature-value {
    font-weight: 500;
    font-size: 5em;
    line-height: 1;
    vertical-align: top;
}

.Temperature-degree {
    font-weight: 500;
    line-height: 1;
    font-size: 3em;
}

.Temperature-unit {
    font-weight: 500;
    line-height: 1;
    font-size: 2.5em;
}